mixin story(storydata)
    story
        div(class="icon")
            div(class="forum-"+storydata.subforumId) #{storydata.subforumName}
        div(class="time") #{storydata.createdAt.TimeString}
        div(class="title")
            a(href="/view/"+storydata.id+"#article") #{storydata.title}
        div(class="comments")
            a(href="/view/"+storydata.id+"#comments") #{storydata.postCount-1}

mixin grouping(subforumsdata)
    day
        h2 #{subforumsdata.date.FullDay} #{subforumsdata.date.Date} #{subforumsdata.date.FullMonth}
        storylist
            block