include news_header.pug
div(class="content")
    div(class="section")
        div(class="article")
            h1 #{thread.title}
            div(class="by")
               p Posted by #{thread.user.username} on #{thread.posts[0].createdAt}
            div(class="textbody") !{thread.posts[0].content}
        div(class="spacer")
        h2 Comments (#{thread.postCount-1})
        div(class="acomments")
            each val in thread.posts
                if val.id != thread.posts[0].id
                    div(class="commentbody")
                        replybody !{val.content}
                        userinfo
                            user #{val.user.username}
                            time #{val.createdAt}