include news_header.pug
    div(class="section")
        div(class="article")
            h1 #{thread.title}
            div(class="by")
            p Posted by #{thread.user.username} on #{thread.posts[0].createdAt}
            bbcode !{thread.posts[0].content}
        spacer
        h2 Comments (#{thread.postCount-1})
        replys
            each post in thread.posts
                if post.id != thread.posts[0].id
                    div(class="body")
                        bbcode !{post.content}
                        userinfo
                            user #{post.user.username}
                            time #{post.createdAt}