news
    each group in items
        day
            h2 #{group.date.DayFull} #{group.date.Date} #{group.date.MonthFull}
            storylist
                each storyitem in group.objects
                    story
                        div(class="icon")
                            div(class="forum-"+storyitem.subforumId) #{storyitem.subforumName}
                        div(class="time") #{storyitem.date.Hour}:#{storyitem.date.Minute}
                        div(class="title")
                            a(href="view/"+storyitem.id) #{storyitem.title}
                        div(class="comments") #{storyitem.postCount-1}