- var storelist

mixin story(item)
    story
        div(class="icon")
            div(class="forum-"+item.subforumId) #{item.subforumName}
        div(class="time") #{item.createdAt.TimeString}
        div(class="title")
            a(href="/view/"+item.id+"#article") #{item.title}
        div(class="comments")
            a(href="/view/"+item.id+"#comments") #{item.postCount-1}

news
    each group in items
        day
            h2 #{group.date.FullDay} #{group.date.Date} #{group.date.FullMonth}
            storylist
                block content
                each storyitem in group.objects
                    if page == "subforum" && subforumid == storyitem.subforumId
                        +story(storyitem)
                    if page == "home"
                        +story(storyitem)                     

